body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

@media (min-width: 900px) {
  main {
    padding: 0 15%;
  }
}

.light {
  transition: 0.2s;
}

.dark,
.dark * {
  color: white;
  background-color: #000000;
  transition: 0.2s;
}

img {
  max-width: 50%;
}

button,
.link-button {
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
}

button {
  padding: 10px;
}

.link-button {
  padding: 0.5rem 0;
}

.dark button,
.dark .link-button {
  background-color: #1f1f1f;
}

button:hover,
.link-button:hover {
  filter: drop-shadow(0 0 0.75rem #888888) invert(1);
}

button:active,
.link-button:active {
  filter: drop-shadow(0 0 0.75rem #888888);
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

nav>ul {
  display: flex;
  list-style: none;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

footer>img {
  width: 35px;
  margin: 0;
}

footer>p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
}

form>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form>div>input {
  padding: 0.5rem;
  border: 1px solid #888888;
  border-radius: 5px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  border: 0.5px solid #888888;
  padding: 1rem;
  gap: 1rem;
}

.card>* {
  margin: 0;
}

.card>img{
  max-width: 100%;
}


.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}